<link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Baloo+Chettan|Playfair+Display|Varela+Round" rel="stylesheet">

<div class="container-fluid">
  <div class="row">
    <div class="col-md-5">
      <app-forms (addQuote)="addNewQuote($event)"></app-forms>
    </div>
    <div class="col-md-7">
      <div class="display-quotes" *ngFor='let quote of quotes, let i = index'>
        <div class="details">
          
     <br>
        <div>
          <h4 class="style">{{quote.enterQuote}}<br> </h4>
        </div>
        <p>~{{quote.author}}</p>
        <br>

          <button class=" btn btn-primary" (click)='toggleDetails(i)' type="button" name="button">Show Details </button>
          <br>

          <app-details *ngIf="quote.showDetails" [quote]='quote' (isDelete)='deleteQuote($event, i)' (isPlus)='plusVote($event, i)'
            (isMinus)='minusVote($event, i)'>
            <br>
          </app-details>
        </div>
      </div>
    </div>
  </div>
</div>
